@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body{
    background-color: var(--background-color);
    font-family: 'Manrope', sans-serif;
}

main{ 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advice-card-container{
    background-color: var(--advice-card-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 540px;
    height: 330px;
    border-radius: 10px;
    border: 20px;
    position: fixed;
    padding: 0 15px 0 15px;
}

.advice-text{
    display: flex;
    flex-direction: column;
}

.advice-text p {
    color: var(--dice-color);
    font-size: 12.7px;
    text-align: center;
    letter-spacing: 3.5px;
    padding: 20px 0 25px 0;
}

.advice-text h3{
    color: var(--text-color);
    text-align: center;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 1px;
    padding: 0 30px;
}

.divider{
    margin-bottom: 38px;
}

.dice{
    background-color: var(--dice-color);
    display: flex;
    position: absolute;
    bottom: -9.5%;
    padding: 20px;
    border-radius: 50px;
}