@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body{
    background-color: var(--background-color);
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

.advice-card-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advice-card{
    background-color: var(--advice-card-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border-radius: 10px;
    margin: 20px;
}

.advice-card .advice-id{
    color: var(--dice-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    margin-top: 30px;
}

.advice-card .advice-text {
    color: var(--text-color);
    font-size: 23px;
    text-align: center;
    padding: 23px;
}

.advice-card .dice{
    background-color: var(--dice-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    transform: translateY(50%);
    transition: 0.3s ease;
}

.dice:hover{
    cursor: pointer;
    box-shadow: 0px 0px 50px var(--dice-color);
}

.dice:active{
    box-shadow: 0px 0px 0px;
}